<div class="container-items">
  <div class="row">
    <!--/////////////////////////////////////-->
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 ">
      <mat-card class="a d-flex align-items-center">
        <mat-icon class="icon-item">loyalty</mat-icon>
        <div class="m-auto h-100">
          <div class="t-semi-bold phara-item w-100 m-0">
            ARTÍCULOS            
          </div>
          <div class="text-center number-item"> 
            <strong>{{items}}</strong>
          </div>
          
        </div>
      </mat-card>
    </div>
    <!--/////////////////////////////////////-->
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 ">
      <mat-card class="b d-flex align-items-center">
        <mat-icon class="icon-item">category</mat-icon>
        <div class="m-auto h-100">
          <div class="t-semi-bold phara-item w-100 m-0">
            CATEGOÍAS            
          </div>
          <div class="text-center number-item"> 
            <strong>{{categories}}</strong>
          </div>
          
        </div>
      </mat-card>
    </div><!--/////////////////////////////////////-->
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 ">
      <mat-card class="c d-flex align-items-center">
        <mat-icon class="icon-item">shopping_basket</mat-icon>
        <div class="m-auto h-100">
          <div class="t-semi-bold phara-item w-100 m-0">
            VENTAS            
          </div>
          <div class="text-center number-item"> 
            <strong>7</strong>
          </div>
          
        </div>
      </mat-card>
    </div><!--/////////////////////////////////////-->
    <div class="col-12 col-sm-6 col-md-4 col-xl-3 ">
      <mat-card class="d d-flex align-items-center">
        <mat-icon class="icon-item">face</mat-icon>
        <div class="m-auto h-100">
          <div class="t-semi-bold phara-item w-100 m-0">
            VISITANTES            
          </div>
          <div class="text-center number-item"> 
            <strong>7</strong>
          </div>
          
        </div>
      </mat-card>
    </div>
    
</div>