.item-category{
    height: 40px;
    background-color: #4aadff;
    color:white;
    text-align: center;
    border-radius: 230px;
    overflow: hidden;
    font-weight: 500;

}
.title-cat{
    border-right: 2px solid #009BBA;
    font-size: 30px;
    font-weight: 200;
}
.titulo-1{
    font-size: 27px;
}
.item-regular{
    height: 350px;
  
}
.box-img{
    height: 250px;
    width: 100%;
    background-color: whitesmoke;
}
.aa{
    max-height: 250px;
    margin:auto;
    min-width: 100%;
    min-height: 100%;
}
.item-regular-tile{
    height: 100px;
    
    display: flex;
      align-items: center;
      text-align: center;
      overflow: hidden;
      
}
.item-regular-tile-description{
    height: 50px;
    color:#4aadff;
    font-size: 17px;
    
    width: 100%;
}
.item-regular-tile-description:hover{
    cursor: pointer;
}
.item-regular-tile-price{
    height: 30px;
    color:#AF1E22;
    font-size: 20px;
    width: 100%;
}




.item-offer-tile{
    height: 100px;
    
    display: flex;
      align-items: center;
      text-align: center;
      overflow: hidden;
      
}
.item-offer-tile-description{
    height: 50px;
    color:#009BBA;
    font-size: 17px;
    
    width: 100%;
}
.item-offer-tile-price{
    height: 30px;
    color:#AF1E22;
    font-size: 20px;
    width: 100%;
}
.banner-1{
    width: 100%;
    height: 320px;

    background: #6ec5dd; /* Old browsers */
    background: -moz-linear-gradient(left, #6ec5dd 0%, #4aadff 27%, #5481ff 61%, #ac5eff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6ec5dd 0%,#4aadff 27%,#5481ff 61%,#ac5eff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6ec5dd 0%,#4aadff 27%,#5481ff 61%,#ac5eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec5dd', endColorstr='#ac5eff',GradientType=1 ); /* IE6-9 */
}
.flag-offer{
    
    position: relative;
    top:0;
    float: right;
    
    width: 0; 
     height: 0; 
     border-left: 80px solid #009BBB;
     border-top: 0px solid transparent;
     border-bottom: 80px solid transparent; 
     transform: rotate(90deg)
}
.desc-text{
    position: relative;
    top: 15px;
    left: -35px;
    font-weight: 600;
    color:white;
   
    
    float: right;
    transform: rotate(-45deg)
}
/* slider */
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}
/* /slider */
.stepper-index{
    background: none;

}
.mat-step-label{
    color:white;
}
/deep/ .mat-step-header .mat-step-text-label {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
  color:white;
  font-size: 17px;
}
.stepper-index mat-icon{
    font-size: 150px;
    width: 100%;
    height: 100%;
    color:white;
}


/*slider items*/

/*----end slider items----*/
