<ngx-carousel style="height:400px;overflow:hidden" [inputs]="carouselBanner">
  <ngx-item NgxCarouselItem style="height:400px;background: #6ec5dd; /* Old browsers */
    background: -moz-linear-gradient(left, #6ec5dd 0%, #4aadff 27%, #5481ff 61%, #ac5eff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6ec5dd 0%,#4aadff 27%,#5481ff 61%,#ac5eff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6ec5dd 0%,#4aadff 27%,#5481ff 61%,#ac5eff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec5dd', endColorstr='#ac5eff',GradientType=1 ); /* IE6-9 */">
    <div class="container-fluid align-middle mt-5" style="position:absolute">
      <div class="row mt-5">
        <div class="col-12 col-md-6 ">
          <div style="width:200px; margin:auto">
            <h2 class="text-center t-ligth">OFERTAS EN PAQUETES</h2>
            <h6 class="text-center"> <strong>Desde</strong> 650.000 Bsf</h6>
            <div class="buttons d-flex justify-content-center">
                <button style="width:130px; border:2px solid white" mat-button >Comprar Ahora</button>
            </div>
           
          </div>

        </div>

      </div>
    </div>

    <img src="" class="" alt="">

  </ngx-item>
  

  <button NgxCarouselPrev style="background:none;box-shadow:none;color:white;height:100%" class='leftRs'>
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button NgxCarouselNext style="background:none;box-shadow:none;color:white;height:100%" class='rightRs'>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</ngx-carousel>